In [ ]:
### Encapsulation
in encapsulation we are trying to num;de data attributes and methods into a single unit class restrictions will be implemented on top the classes

In [ ]:
### Encapsulation
### public variabel
### protected_
### private

In [ ]:
# Example 1
class Car:
    def __init__(self):
        self.brand = "Toyota"

c = Car()
print(c.brand)  # Accessing public variable

Toyota

In [ ]:
class Laptop:
    def __init__(self):
        self.ram = "16GB"

l = Laptop()
print(l.ram)

16GB

In [ ]:
class Employee:
    def __init__(self):
        self._salary = 50000

e = Employee()
print(e._salary)  # Technically accessible, but not recommended

50000

In [ ]:
class Doctor:
    def __init__(self):
        self._license_number = "MED12345"

d = Doctor()
print(d._license_number)

MED12345

In [ ]:
class Employee:
    def __init__(self):
        self._salary = 75000

e = Employee()

In [ ]:
e._salary

75000

In [ ]:
class Laptop:
    def __init__(self):
        self.__serial_number = "SN-987654"

l = Laptop()
l.__serial_number

AttributeError: 'Laptop' object has no attribute '__serial_number'

In [ ]:
class BankAccount:
    def __init__(self, holder_name, balance, pin):
        self._holder_name = holder_name          # protected
        self.__balance = balance                 # private
        self.__pin = pin                         # private
   ### 100, 300 --->400
    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
   ### 400--->300
    def withdraw(self, amount, pin):
        if pin == self.__pin and amount <= self.__balance:
            self.__balance -= amount
            return amount
        else:
            return "Invalid pin or insufficient funds"

    def get_balance(self, pin):
        return self.__balance if pin == self.__pin else "Access Denied"

In [ ]:
object1=BankAccount("Student1",5000,1000)
object1._holder_name

'Student1'

In [ ]:
object1.get_balance(1000)

5000

In [ ]:
object1.deposit(300)

In [ ]:
object1.get_balance(1000)

5300

In [ ]:
class Student:
    def __init__(self, name):
        self._name = name                     # protected
        self.__grades = {}                    # private dictionary

    def add_grade(self, subject, grade):
        self.__grades[subject] = grade

    def _average(self):                       # protected method
        return sum(self.__grades.values()) / len(self.__grades)

    def get_report(self):
        return f"Student: {self._name}, Average: {self._average()}"

object1=Student("Student1")
object1.add_grade("science",80)
object1.add_grade("maths",80)
object1.add_grade("computers",80)
object1.get_report()

'Student: Student1, Average: 80.0'

In [ ]:
class Student:
    def __init__(self, name):
        self._name = name                     # protected
        self.__grades = {}                    # private dictionary

    def add_grade(self, subject, grade):
        self.__grades[subject] = grade

    def _average(self):                       # protected method
        return sum(self.__grades.values()) / len(self.__grades)

    def get_report(self):
        return f"Student: {self._name}, Average: {self._average()}"

    def get_grades(self):  # Public method to access grades
        return self.__grades

object1=Student("Student1")
object1=Student("Student2")
object1.add_grade("science",80)
object1.add_grade("maths",80)
object1.add_grade("computers",80)
object1.add_grade("science1",20)
object1.add_grade("maths1",20)
object1.add_grade("computers1",80)
print(object1.get_report())
print(object1.get_grades()) # Accessing grades using the new method

Student: Student2, Average: 60.0
{'science': 80, 'maths': 80, 'computers': 80, 'science1': 20, 'maths1': 20, 'computers1': 80}

In [ ]:
### Abstraction : we will implemet a class with internal details

### we will be hiding the internal implementation of methods
### and showing only essential featues of an object

#### reduce the xomplexity and increase code reusablitiy

In [ ]:
from abc import ABC, abstractmethod

class Payment(ABC):
    @abstractmethod
    def pay(self, amount,interest):
        pass

class CreditCard(Payment):
    def pay(self, amount):
        print(f"Paid ₹{amount} using Credit Card")

class UPI(Payment):
    def pay(self, amount):
        print(f"Paid ₹{amount} using UPI")

In [ ]:

p1 = CreditCard()
p1.pay(1000)

p2 = UPI()
p2.pay(500)

Paid ₹1000 using Credit Card
Paid ₹500 using UPI

In [ ]:
### Exception handlings

In [ ]:
try :
  print(2+"3")
except:
  print("test")

test

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")

Cannot divide by zero!

In [ ]:
try:
    with open("/content/sample1.txt", "r") as f:
        content = f.read()
        print(content)
except FileNotFoundError:
    print("File not found.")

File not found.

In [ ]:
try:
    number = float("abc")
    print(number)
except ValueError:
    print("Invalid number format.")

Invalid number format.

In [ ]:
try:
    items = [1, 2, 3]
    print(items[5])
except IndexError:
    print("Index out of range.")

Index out of range.

In [ ]:
try:
    data = {"name": "Alice"}
    print(data["name"])
except KeyError:
    print("Key not found in dictionary.")

Alice

In [ ]:
try:
    x = 5
    x.append(2)
except AttributeError:
    print("Invalid attribute for the object.")

Invalid attribute for the object.

In [ ]:
try:
    value = int("abc")
    result = 10 / 0
except (ValueError, ZeroDivisionError) as e:
    print("Caught an error:", e)

Caught an error: invalid literal for int() with base 10: 'abc'

In [ ]:
try:
    number = int("100")
except ValueError:
    print("Conversion failed.")
else:
    print("Conversion successful:", number)

In [ ]:
try:
    f = open("sample.txt", "r")
    data = f.read()
except FileNotFoundError:
    print("File not found.")
finally:
    print("Execution complete.")

File not found.
Execution complete.

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Divide by zero error")
else:
    print("Result:", result)
finally:
    print("Done with division")

Divide by zero error
Done with division

In [ ]:
try:
    lst = [1, 2]
    print(lst[5])
except IndexError:
    print("Index out of range")
else:
    print("List item accessed")
finally:
    print("List operation done")

Index out of range
List operation done

In [ ]:
"invalid"*2

'invalidinvalid'

2
4
6
8
ii
nn
vv
aa
ll
ii
dd